<section class="flex flex-col justify-center items-center my-12 lg:flex-row w-screen lg:items-start lg:my-24">
  <img src={{shareData.ShareSelectedCard.image}} alt="anime card"
    class="w-3/5 rounded-md lg:w-1/3 lg:mx-16 xl:w-3/12 xxl:w-2/12">

  <section class="text-center flex flex-col justify-center items-center my-8 p-4 lg:items-start lg:text-start lg:my-0">
    <p class="font-extrabold text-base semi-red lg:text-3xl">恐ろしいア</p>
    <h2 class="text-xl text-white font-extrabold my-3 lg:text-3xl lg:my-5">{{shareData.ShareSelectedCard.title}}</h2>
    <p
      class="text-base text-white lg:text-xl overflow-hidden whitespace-nowrap w-[200px] text-ellipsis lg:w-[475px] xl:w-[600px] ">
      {{shareData.ShareSelectedCard.synopsis}}</p>

    <button (click)=" redirectTo(shareData.ShareSelectedCard.link)"
      class="text-white py-2 px-4 my-4 red rounded-md font-medium" style="text-decoration: none;" target="_blank">See
      More</button>

    <CardDetails [CardData]='shareData.ShareSelectedCard'></CardDetails>
  </section>
</section>